# dependencias
node_modules/

# compilación y caché de Next.js
.next/
out/
build/
dist/

# entorno y variables secretas
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# sistema operativo
.DS_Store
Thumbs.db

# opcionales útiles
*.tsbuildinfo
next-env.d.ts
.vercel
